body{
	display:flex;
	overflow:hidden;
}
@media only screen and (max-width:950px){
	body{
		flex-direction:column;
	}
	#mysteryView,#separator,#editPanel{
		width:100%!important;
	}
	#mysteryView{
		height:50%;
		overflow:auto hidden;
	}
	#separator{
		height:2px;
	}
	#editPanel{
		overflow:auto hidden;
	}
}
#mysteryView{
	width:40%;
	overflow:hidden auto;
}
#separator{
	background-color:black;
	width:2px;
}
#editPanel{
	flex-grow:1;
	padding:20px;
	overflow:hidden auto;
	width:60%;
}
.mysteryEl{
	border:1px solid rgba(0,0,0,0.3);
	margin:12px;
	display:flex;
	transition:all 500ms;
}
.mysteryEl.selected{
	box-shadow:0 0 8px 4px rgba(0,0,0,0.1);
	border-radius:2px;
}
.section{
	border:2px solid black;
	margin:10px;
	transition:all 500ms;
}
.section.selected .sHeader .material-icons,.mysteryEl.selected .material-icons{
	color:green;
}
#mysteryTitle{
	text-align:center;
	margin:0;
	padding:0.5em 0;
	background-color:rgba(255,255,255,0.8);
	border-bottom:2px dashed black;
	position:sticky;
	top:0;
}
#mysteryTitle:empty{
	display:none;
}
#endMessage{
	text-align:center;
	padding:0.5em 1em;
	border-top:2px solid black;
	border-bottom:2px solid black;
	width:80%;
	margin:0 auto;
}
#endMessage:empty{
	display:none;
}
.sHeader{
	padding:0 5px;
	display:flex;
	border-bottom:1px solid black;
}
.sHeader h1{
	text-align:center;
	padding:10px;
	flex-grow:1;
}
.sHeader h1:empty:before{
	color:rgba(0,0,0,0.22);
	content:"Untitled Section";
}
.addItem{
	text-align:center;
	margin:10px;
}
.editOption{
	display:flex;
	flex-direction:column;
	justify-content:center;
	border-right:1px solid rgba(0,0,0,0.2);
	padding:5px 10px;
}
.elContent{
	padding:20px 15px;
	flex-grow:1;
}
#endMessage,[data-el-type="text"] .elContent{
	white-space:pre-wrap;
}
#editPanel,#editPanel input,#editPanel textarea{
	font-size:18px;
}
#editPanel>h1{
	margin:0;
}
#editPanel h2{
	margin-top:0;
}
#editBox{
	border:1px solid black;
	padding:16px;
}
[data-editing="se"]#editBox #exEditBox,[data-editing="el"]#editBox #exEditBox,[data-editing="ex"]#editBox #seEditBox,[data-editing="el"]#editBox #seEditBox,[data-editing="ex"]#editBox #elEditBox,[data-editing="se"]#editBox #elEditBox{
	display:none;
}
[data-editing="ex"]#editBox #exEditBox,[data-editing="se"]#editBox #seEditBox,[data-editing="el"]#editBox #elEditingBox{
	display:block;
}
[data-edit-type="none"]#elEditBox{
	display:none;
}
#editBox p{
	margin:0;
}
#editText,#editQuestion,#editImage{
	display:none;
}
[data-edit-type="text"]#elEditBox #editText,[data-edit-type="question"]#elEditBox #editQuestion,[data-edit-type="image"]#elEditBox #editImage{
	display:block;
}
[data-el-type="question"].mysteryEl .elContent p:empty:before{
	color:rgba(0,0,0,0.5);
	content:"Enter question";
}
.caption{
	font-size:smaller;
	color:rgba(0,0,0,0.8);
}
.mysteryEl img{
	max-width:100%;
}