html,body{
	width:100vw;
	height:100vh;
}
body{
	margin:0;
	display:flex;
	overflow:hidden;
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
}
@media only screen and (max-width:950px){
	body{
		flex-direction:column;
	}
	#mysteryView,#separator,#editPanel{
		width:100%!important;
	}
	#mysteryView{
		height:50%;
		overflow:auto hidden;
	}
	#separator{
		height:2px;
	}
	#editPanel{
		overflow:auto hidden;
	}
}
body *{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
}
#mysteryView{
	width:40%;
	overflow:hidden auto;
}
#separator{
	background-color:black;
	width:2px;
}
#editPanel{
	flex-grow:1;
	padding:20px;
	overflow:hidden auto;
	width:60%;
}
.mysteryEl{
	border:1px solid rgba(0,0,0,0.3);
	margin:12px;
	display:flex;
	transition:all 500ms;
}
.mysteryEl.selected{
	box-shadow:0 0 8px 4px rgba(0,0,0,0.1);
	border-radius:2px;
}
.section{
	border:2px solid black;
	margin:10px;
	transition:all 500ms;
}
.section.selected .sHeader .material-icons{
	color:green;
}
.mysteryEl.selected .material-icons{
	color:green;
}
#mysteryTitle{
	text-align:center;
	margin:0;
	padding:0.5em 0;
	background-color:rgba(255,255,255,0.8);
	border-bottom:2px dashed black;
	position:sticky;
	top:0;
}
#mysteryTitle:empty{
	display:none;
}
#endMessage{
	text-align:center;
	padding:0.5em 1em;
	border-top:2px solid black;
	border-bottom:2px solid black;
	width:80%;
	margin:0 auto;
}
#endMessage:empty{
	display:none;
}
.sHeader{
	padding:0 5px;
	display:flex;
	border-bottom:1px solid black;
}
.sHeader h1{
	text-align:center;
	padding:10px;
	flex-grow:1;
}
.sHeader h1:empty:before{
	color:rgba(0,0,0,0.22);
	content:"Untitled Section";
}
.addItem{
	text-align:center;
	margin:10px;
}
.editOption{
	display:flex;
	flex-direction:column;
	justify-content:center;
	border-right:1px solid rgba(0,0,0,0.2);
	padding:5px 10px;
}
.elContent{
	padding:20px 15px;
	flex-grow:1;
}
#endMessage,[data-el-type="text"] .elContent{
	white-space:pre-wrap;
}
#editPanel,#editPanel input,#editPanel textarea{
	font-size:18px;
}
#editPanel>h1{
	margin:0;
}
#editPanel h2{
	margin-top:0;
}
#editBox{
	border:1px solid black;
	padding:16px;
}
[data-editing="se"]#editBox #exEditBox,[data-editing="el"]#editBox #exEditBox,[data-editing="ex"]#editBox #seEditBox,[data-editing="el"]#editBox #seEditBox,[data-editing="ex"]#editBox #elEditBox,[data-editing="se"]#editBox #elEditBox{
	display:none;
}
[data-editing="ex"]#editBox #exEditBox,[data-editing="se"]#editBox #seEditBox,[data-editing="el"]#editBox #elEditingBox{
	display:block;
}
[data-edit-type="none"]#elEditBox{
	display:none;
}
#editBox p{
	margin:0;
}
#editText,#editQuestion,#editImage{
	display:none;
}
[data-edit-type="text"]#elEditBox #editText,[data-edit-type="question"]#elEditBox #editQuestion,[data-edit-type="image"]#elEditBox #editImage{
	display:block;
}
[data-el-type="question"].mysteryEl .elContent p:empty:before{
	color:rgba(0,0,0,0.5);
	content:"Enter question";
}
.caption{
	font-size:smaller;
	color:rgba(0,0,0,0.8);
}
input{
	border:0;
	border-bottom:2px solid rgba(0,0,0,0.3);
	outline:none;
	transition:all 300ms;
	display:block;
	margin:10px 0;
	width:40%;
	background-color:rgba(0,0,0,0.05);
	border-radius:1px;
}
input[type="file"]{
	display:none;
}
input:hover{
	border-bottom-color:rgba(0,0,0,0.5);
	background-color:rgba(0,0,0,0.075);
}
input:focus{
	border-bottom-color:cornflowerblue;
	background-color:rgba(100,149,237,0.1);
}
button{
	display:inline-flex;
	padding:0.7em 1.4em;
	margin:0 0.3em 0.3em 0;
	border-radius:0.15em;
	box-sizing:border-box;
	text-transform:uppercase;
	font-weight:400;
	box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
	text-align:center;
	position:relative;
	border:none;
	outline:none;
	transition:all 500ms;
	color:black;
	background-color:#00000018;
}
button:hover{
	background-color:#00000029;
}
button *{
	pointer-events:none;
	margin:auto;
}
.create{
	background-color:#23ff33dd;
}
.create:hover{
	background-color:#23ff33ee;
}
.warning{
	background-color:#ffdd00dd;
}
.warning:hover{
	background-color:#ffee00ee;
}
.danger{
	background-color:#ff2333dd;
	color:white;
}
.danger:hover{
	background-color:#ff2333ee;
}
.action{
	color:white;
	background-color:#0066bbdd;
}
.action:hover{
	background-color:#0066bbee;
}
button:active{
	top:0.1em;
}
textarea{
	width:100%;
	height:200px;
	resize:vertical;
	margin:10px 0;
}
.mysteryEl img{
	max-width:100%;
}
.material-icons{
	color:rgba(0,0,0,0.54);
	padding:10px;
	border-radius:50%;
	transition:all 200ms;
	-webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
	cursor:pointer;
}
.material-icons.md-inactive{
	color:rgba(0,0,0,0.26);
}
.material-icons:hover{
	color:rgba(0,0,0,0.62);
	background-color:#eeeeee;
}
.material-icons.md-inactive:hover{
	color:rgba(0,0,0,0.26);
	background-color:transparent;
}
.material-icons.md-text{
	pointer-events:none;
	padding:0 4px;
	color:inherit;
	font-size:16px;
}